@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --light-grey: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --outfit: 'Outfit', sans-serif;
}

body {
    font-family: var(--outfit);
    background-color: var(--light-grey);
}

#container {
    max-width: 245px;
    max-height: 370px;
    background-color: #ffffff;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

#container img {
    max-width: 220px;
    max-height: 220px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}

p {
    color: rgb(177, 177, 177);
    margin: 10px;
}

h3 {
    margin: 10px 26px 0px 26px;
}


