@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --light-grey: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --outfit: 'Outfit', sans-serif;
}

body {
    font-family: var(--outfit);
    background-color: var(--light-grey);
}

.box {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

#container {
    max-width: 19em;
    max-height: 29em;

    background-color: #ffffff;
    font-size: .8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

#container img {
    max-width: 220px;
    max-height: 220px;
    margin: 0.625em 0em 0em 0em;
    border-radius: 10px;
}

p {
    color: rgb(177, 177, 177);
    margin: 0.625em 0.625em 2.875em 10px;
}

h3 {
    margin: 0.625em 1.625em 0em 1.625em;
}


